extend layout

block scripts
	script(src="js/jquery-sortable.min.js")
	script(src="js/home.min.js")

block body
	.container
		.row
			.col-md-8.col-md-offset-2
				h1 Tasks
				include partials/_taskList
